In [134]:
import pandas as pd
from collections import Counter
import secret

## Importing and merging data

In [100]:
df1 = pd.read_csv('data archive\\property_data.csv')
df2 = pd.read_csv('data archive\\property_data_2.csv')
df = pd.concat([df1,df2])
df = df.drop(df.columns[[0]], axis=1) 
df = df.reset_index(drop=True)
df

                                                address     bds       cost
0     Douglass Apartments, 650 Columbus Ave #434, Bo...    1 bd  $3,300/mo
1     Gardner Street Apartments | 75-84 Gardner St, ...    1 bd    $2,450+
2     Gardner Street Apartments | 75-84 Gardner St, ...    2 bd    $2,450+
3            Idyl Fenway | 60 Kilmarnock St, Boston, MA  Studio    $3,710+
4            Idyl Fenway | 60 Kilmarnock St, Boston, MA    1 bd    $3,990+
...                                                 ...     ...        ...
1162              14 Sutherland Rd #1, Boston, MA 02135   3 bds  $3,500/mo
1163            22 Bryon Rd #1, Chestnut Hill, MA 02467   2 bds  $2,700/mo
1164               10 Long Ave APT 1, Allston, MA 02134   3 bds  $3,300/mo
1165            13 Bowdoin St APT 3AB, Boston, MA 02114   2 bds  $4,400/mo
1166                     88 Beechcroft St, Brighton, MA    2 bd    $3,000+

[1167 rows x 3 columns]

## Cleaning bds column

In [101]:
bds = set(df['bds'])
map = {}
for i in bds:
    map[i] = i.split()[0]
map

{'2 bd': '2',
 '4 bds': '4',
 '7 bd': '7',
 '3 bd+': '3',
 'Studio ba': 'Studio',
 '6 bd': '6',
 '6 bds': '6',
 '4 bd': '4',
 '1 bd': '1',
 '5 bd': '5',
 '3 bd': '3',
 '3 bds': '3',
 '2 bds': '2',
 '5 bds': '5',
 '8 bd': '8',
 'Studio': 'Studio'}

In [102]:
df['bds'] = df['bds'].map(map)
df

                                                address     bds       cost
0     Douglass Apartments, 650 Columbus Ave #434, Bo...       1  $3,300/mo
1     Gardner Street Apartments | 75-84 Gardner St, ...       1    $2,450+
2     Gardner Street Apartments | 75-84 Gardner St, ...       2    $2,450+
3            Idyl Fenway | 60 Kilmarnock St, Boston, MA  Studio    $3,710+
4            Idyl Fenway | 60 Kilmarnock St, Boston, MA       1    $3,990+
...                                                 ...     ...        ...
1162              14 Sutherland Rd #1, Boston, MA 02135       3  $3,500/mo
1163            22 Bryon Rd #1, Chestnut Hill, MA 02467       2  $2,700/mo
1164               10 Long Ave APT 1, Allston, MA 02134       3  $3,300/mo
1165            13 Bowdoin St APT 3AB, Boston, MA 02114       2  $4,400/mo
1166                     88 Beechcroft St, Brighton, MA       2    $3,000+

[1167 rows x 3 columns]

## Cleaning cost column

In [103]:
df['cost'] = df['cost'].apply(lambda x: int(x.strip(',$/mo+').replace(',', '')))
df

                                                address     bds  cost
0     Douglass Apartments, 650 Columbus Ave #434, Bo...       1  3300
1     Gardner Street Apartments | 75-84 Gardner St, ...       1  2450
2     Gardner Street Apartments | 75-84 Gardner St, ...       2  2450
3            Idyl Fenway | 60 Kilmarnock St, Boston, MA  Studio  3710
4            Idyl Fenway | 60 Kilmarnock St, Boston, MA       1  3990
...                                                 ...     ...   ...
1162              14 Sutherland Rd #1, Boston, MA 02135       3  3500
1163            22 Bryon Rd #1, Chestnut Hill, MA 02467       2  2700
1164               10 Long Ave APT 1, Allston, MA 02134       3  3300
1165            13 Bowdoin St APT 3AB, Boston, MA 02114       2  4400
1166                     88 Beechcroft St, Brighton, MA       2  3000

[1167 rows x 3 columns]

In [137]:
import googlemaps 
gmaps = googlemaps.Client(key=secret.api_key)  
dist = gmaps.distance_matrix('13 Bowdoin St APT 3AB, Boston, MA 02114','88 Beechcroft St, Brighton',mode='driving')
dist['rows'][0]['elements'][0]['distance']['text']

'12.8 km'

In [110]:
df_test = df.head(10)
df_test["new"] = df_test["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Northeastern University",mode='driving'))
df_test["new"] = df_test["new"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

C:\Users\T T Ajith Kumar\AppData\Local\Temp\ipykernel_11208\1495902933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["new"] = df_test["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Northeastern University",mode='driving'))
C:\Users\T T Ajith Kumar\AppData\Local\Temp\ipykernel_11208\1495902933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["new"] = df_test["new"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

In [ ]:
df_test["new"] = df_test["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Northeastern University",mode='driving'))
df_test["new"] = df_test["new"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

0    0.5 km
1    6.2 km
2    6.2 km
3    1.0 km
4    1.0 km
5    1.0 km
6    1.0 km
7    4.3 km
8    4.5 km
9    3.2 km
Name: new, dtype: object

In [112]:
df["distance_neu"] = df["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Northeastern University",mode='driving'))
df["distance_neu"] = df["distance_neu"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

In [115]:
df["distance_harvard"] = df["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Harvard University",mode='driving'))
df["distance_harvard"] = df["distance_harvard"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

In [125]:
df["distance_mit"] = df["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Massachusetts Institute of Technology",mode='driving'))
df["distance_mit"] = df["distance_mit"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

In [127]:
df["distance_bu"] = df["address"].apply(lambda x : gmaps.distance_matrix(x.replace('|',','), "Boston University",mode='driving'))
df["distance_bu"] = df["distance_bu"].apply(lambda x : x['rows'][0]['elements'][0]['distance']['text'])

In [128]:
df

,address,bds,cost,distance_neu,distance_harvard,distance_mit,distance_bu
0,"Douglass Apartments, 650 Columbus Ave #434, Bo...",1,3300,0.5 km,6.6 km,3.2 km,2.1 km
1,"Gardner Street Apartments | 75-84 Gardner St, ...",1,2450,6.2 km,2.5 km,5.4 km,1.1 km
2,"Gardner Street Apartments | 75-84 Gardner St, ...",2,2450,6.2 km,2.5 km,5.4 km,1.1 km
3,"Idyl Fenway | 60 Kilmarnock St, Boston, MA",Studio,3710,1.0 km,6.2 km,3.1 km,1.3 km
4,"Idyl Fenway | 60 Kilmarnock St, Boston, MA",1,3990,1.0 km,6.2 km,3.1 km,1.3 km
...,...,...,...,...,...,...,...
1162,"14 Sutherland Rd #1, Boston, MA 02135",3,3500,5.5 km,4.3 km,6.9 km,3.6 km
1163,"22 Bryon Rd #1, Chestnut Hill, MA 02467",2,2700,9.3 km,10.7 km,12.4 km,9.9 km
1164,"10 Long Ave APT 1, Allston, MA 02134",3,3300,6.5 km,2.8 km,5.7 km,2.0 km
1165,"13 Bowdoin St APT 3AB, Boston, MA 02114",2,4400,5.2 km,16.7 km,14.7 km,7.9 km
1166,"88 Beechcroft St, Brighton, MA",2,3000,10.3 km,4.4 km,10.4 km,4.3 km

In [129]:
df.to_csv('data archive/data_processed.csv', index=False)